<p>
  <b>
    <em>
      <%= "#{comment.user.first_name} #{comment.user.last_name}" %>
    </em>
  </b>
  <%= comment.content %><br>
  <span id = "like<%= comment.id %>">
    <%= render( partial: 'comments/comment_like', locals: {comment: comment})  %>
  </span> &nbsp; &nbsp; &nbsp;
  <%= link_to "Delete", post_comment_path(post_id: comment.post_id, id: comment.id), method: :delete, remote: true  %> &nbsp; &nbsp; &nbsp;
  <%= time_ago_in_words(comment.created_at) %>
</p>