<div class="row" style="margin-top: 120px">
  <span class="col-sm-2"></span>
  <div class="col-sm-3">
    <b><%= "#{user.first_name} #{user.last_name}" %></b>
  </div>
  <div class="col-sm-4">
    <% if current_user==user %>
      <button class="btn btn-primary">Update Profile</button>
    <% else %>
      <%= render(partial: 'friendship', locals:{user: user}) %>
      <button class="btn btn-primary">Message</button>
    <% end %>
  </div>
</div>
<br>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav mr-auto" style="flex-direction: row;">
        <li><a class="nav-item nav-link" href="show?user_id=<%= user.id %>">Timeline</a></li>
        <li><a class="nav-item nav-link" href="about?user_id=<%= user.id %>">About</a></li>
        <li><a class="nav-item nav-link" href="friends?user_id=<%= user.id %>">Friends</a></li>
        <li><a class="nav-item nav-link" href="photos?user_id=<%= user.id %>">Photos</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
