<div class = "card" style = "width: 30rem;">
    <div class="card-body">
      <p>
        <%= link_to 'Delete', post_path(p), method: :delete %>
        <%= p.timestamp %><br>
        <%= p.content %>
        <hr>
          
        <%= link_to ' Like', "", remote: true, class: "fa fa-thumbs-up btn" %> &nbsp; &nbsp;
        <%= link_to ' Comments', post_comments_path(p), remote: true, class: "fa fa-comment btn" %>

        <hr>
        
        <div id= <%= "comments#{p.id}" %> ></div>
        
        <div id= "add_comment" >
          <%= form_with(model: [ p, p.comments.build ], remote: true ) do |f| %>
            <%= f.text_field :content, placeholder: "Add a comment.." %>
            <%= f.submit("Submit") %>
          <% end %>
        </div>
      </p>
    </div>
  </div>