<h2>New Post</h2>

<%= form_with scope: :post,url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </p>
 
  <p>
    <%= form.submit :create%>
  </p>

  <%= link_to 'Back', root_path %>
<% end %>