<!DOCTYPE html>
<html>
  <head>
    <title>Science Buzz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <style>
        .navbar {
          margin-bottom: 5;
          border-radius: 0;
        }
      </style>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <h3 class = "nav">Welcome,</h3> <h3 class="nav"><%= link_to "#{current_user.first_name}", my_profile_path, style: "color: black" %></h3>
          <%= form_with url: users_search_path, method: :get, local:true do |form| %>
            <%= form.text_field :friend, placeholder: "Search.." %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="/home/index">Home</a></li>
            <li class="nav-link dropdown">
              <%= link_to "", my_profiles_requests_path, class: "fa fa-odnoklassniki", remote: true %>
              <ul class="dropdown-menu" id="requests">
                <li><a href="#">Action</a></li>
              </ul>
            </li>
            <li><a class="nav-link" href="#"><span class="fa fa-envelope"></span></a></li>
            <li><a class="nav-link" href="#"><span class="fa fa-bell"></span></a></li>
            <li><span class="fa fa-sign-out"></span><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link", style: "display:inline" %></li>
            <li><img src="/assets/logo.jpg" style="width:15rem;height:3rem"></li>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
