<!DOCTYPE html>
<html>
  <head>
    <title>Fb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <style>
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
      </style>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
